// variables color
$primary-color: #dd5313;
$second-color: #16fcd2;
$light-color: #ffffff;
$gray-color: #a9abad;
$background-color: #09091a;
$theme-color: #17202e;

.color_text {
  color: #fff;
}
.sub_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}
.header_title,
.button_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}
.desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}
.sub_desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
